<div class="m-10 p-10 justify-center">
        <h2 class="text-lg text-teal-700">Login:</h2>
        <div class="form">
          <label for="username">Username:</label>
          <input class="form-input" id="username-login"
            name="username"
            type="text"
            placeholder="Enter Username"
            id="username-field"
          />
        </div>
        <div class="form">
          <label for="password">Password:</label>
          <input class="form-input" id="password-login"
            name="password"
            type="password"
            placeholder="Enter Password"
            id="password-field"
          />
        </div>
        <button class="" id="login-btn" type="submit">Login</button>
        <button class="" type="submit"><a href="/signup" id="signupLink">Sign Up</a></button>

      </div>


<script src="./js/login.js"></script>
<script src="./js/signup.js"></script>


