<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./css/dist/output.css" rel="stylesheet" />
    <link href="./css/dist/style.css" rel="stylesheet" />
  </head>
  <body class="m-0 p-0">
    <nav class="navbar">
      <ul class="links-container">
        <li class="link" id="home-link"><a href="/">Home</li>
        <li class="link" id="fridge-link">
          <a href="/fridge">Check the Fridge!</a>
        </li>
        <li class="link text-teal-500 ml-10 p-10" id="grocery-link">
          <a href="/grocery">Grocery List</a>
        </li>
        <li class="link" id="recipe-link">
          <a href="/dashboard">Cutting Board</a>
        </li>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <li class="link"><a href="/" id="logout-link">Logout</a></li>
        {{else}}
        <li class="link" id="signup-link"><a href="/login">Login</a></li>
        {{/if}}
      </ul>
    </nav>
    <main class="m-30 p-20">

      <container class="container">
      <div class="m-10 p-10">
        <h2 class="text-3xl h2login">Login:</h2>
        <div class="form">
          <label for="username">Username:</label>
          <input class="form-input" id="username-login"
            name="username"
            type="text"
            placeholder="Enter Username"
            id="username-field"
          />
        </div>
        <div class="form">
          <label for="password">Password:</label>
          <input class="form-input border-2" id="password-login"
            name="password"
            type="password"
            placeholder="Enter Password"
            id="password-field"
          />
        </div>
        
        <div class="btn-container">
        <button class="font-semibold text-teal-500" id="login-btn" type="submit">Login</button>
      </div>
    </container>

      </div>

    </main>

    <footer></footer>



  </body>
</html>

<script src="/js/login.js"></script>