<div class="formContainer">
  <h2 class="labelHeader">Create an Account:</h2>
  <form class="signupForm">
  <div class="form">
    <label for="username">Username:</label>
    <input class="form-input" id="username-signup"
      name="username"
      type="text"
      value=""
      placeholder="Enter Username"
      id="username-field"
    />
  </div>
  <div class="form">
    <label for="password">Password:</label>
    <input class="form-input" id="password-signup"
      name="password"
      type="password"
      value=""
      placeholder="Enter Password"
      id="password-field"
    />
  </div>
  <button class="btn" id="signup-btn" type="submit">Sign Up</button>
  <p id="loginText">Already have an account? <a href="/login" id="loginLink">Login</a></p>
  </form>
</div>

<script src="../../js/signup.js"></script>